
/* Your CSS Code here. */
*{
    padding: 0;
    margin: 0;
}
body{
    width: 100%;
    margin: 0px 50px 0px 50px;
}

#button-1{
   height: 35px;
 
}
#button-2{
    height: 35px;
    background-color: white;
    color: black;
  
 }
#button-3{
	width:90px:
	font-size:18px;
}
 #button-4{
    height: 30px;
  
 }
 #button-5{
    width: 92%;
 }
#button-6{
    height: 35px;
 
 }
#button-7{
    height:30px;
 }

 #button-8{
    text-decoration:underline;
    color: blue;
    background-color: white;
    border: none;
	 height:30px;
 }